@page "/"

<PageTitle>Index</PageTitle>

<body>
    <h1>World of Blossom!</h1>
    <img src="https://media.bunches.co.uk/products/fprfrw-1.jpg" 
    <p>Flowers are the music of the ground; they bloom where they are planted, reminding us that beauty can emerge from any circumstance..</p>
</body>