@page "/videos"
\

<h3>Videos</h3>

<h3>Favorite Vidios</h3>

<iframe width="451" height="315" src="https://www.youtube.com/embed/Xn8tufsbSz0?si=KiMFzDatZixJV6ti"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>

<h3></h3>

<iframe width="451" height="315" src="https://www.youtube.com/embed/rET3lp6kk2E?si=uJTVpG5rgMDYhnJv"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>

<h3></h3>

<iframe width="451" height="315" src="https://www.youtube.com/embed/zbc4X2InmdA?si=f_Q80CylnjpIk-Fr"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
    
</iframe>